<div class="jumbotron" ng-style="set_bgrd_image()">
	 <div class="nav-bar">
	    <nav class="col-xs-12">
	         <a class="logo" ng-href="/" target="_self">Iorn Bars</a>
	         <a class="aboutLink">About</a>
	    </nav>
	</div>
	<div class="col-xs-5">
		<h2 class="text-center"><typedjs strings="texttyping"></typedjs></h2>
	</div>
	<div class="col-xs-6">
		<input type="text" ng-show="show" class="form-control text-center" placeholder="Who are you?">
	             <button type="button" ng-show="show" ng-click="goToBio('bio')" id="chancesButton" class="btn btn-md gradient" >Find Out</button>
	</div>
</div>