<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/main.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/main.js"></script>

  </head>
  <body>
    <h1>Hey <%= title %></h1>
    <p>Welcome!</p>

  </body>
</html>
