#map{
  margin-left: 7%;
}

text{
  font-size: 8px; 
}

.background {
  fill: none;
  pointer-events: all;
}

.states {
  fill: #ccc;
  cursor: pointer;
}

.states.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

