#map{
  margin-left: 7%;
}

svg{
   position: absolute;
   z-index: -1;
   display: inline-block;
}

text{
  font-size: 8px; 
}


.background {
  fill: none;
  pointer-events: all;
}

.states {
  fill: #ccc;
  cursor: pointer;
  z-index: -1;
}

.states.active{
  fill: orange;
  z-index: -1;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

