body, html {
  width: 100%;
  height: 100%;
  background: #b3b3cc;
  font-family: "Monaco";
}

a, a:hover, a:active, a:focus {
  color: inherit; 
  text-decoration: none;
}

h2{
   font-size: 3em;
}

.col-xs-5{ 
  margin-left:29%;
  margin-top: 5%;
}

.col-xs-6{ 
	margin-left:24%;
}

.jumbotron{
    background: center url("/images/iornbars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 35em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.form-control{
	transition: 5s linear all;  
	border: solid #000000  !important;
	background-color: rgba(0,0,0,0)  !important;
	border-radius: 5px;
	color:#ffffff !important;
      text-shadow: 1px 1px 1px #000;
}


#chancesButton {
  transition: 5s linear all;  
  opacity: 1;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  border: solid #000000 ;
  background: transparent;
  border-radius: 5px;
  margin-left: 38%;
  margin-right: 50%;
  margin-top: 5%; 
  text-shadow: 1px 1px 1px #000;
}

#chancesButton.ng-hide, input.ng-hide {
  opacity: 0;
}


#chancesButton:hover, #chancesButton:focus, #chancesButton:active, #chancesButton.active {
    background: -moz-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, bottom right, color-stop(rgba(224, 224, 209, .2)), color-stop(rgba(235, 235, 224, .8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left top, rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* Opera 11.10+ */
    background: -ms-linear-gradient(left top,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* IE10+ */
    background: linear-gradient(to bottom right,  rgba(224, 224, 209, .2), rgba(235, 235, 224, .8)); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(224, 224, 209, .2)', endColorstr='rgba(235, 235, 224, .8)',GradientType=0 ); /* IE6-9 */
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#typed-strings{
  display: none;
}

.nav-bar{
  border: solid #000000;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  width: 100%;
  height: 6%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding-bottom: 3em;
}

.logo{
  font-family: "Book Antiqua";
  font-size: 25px;
  padding-left: 1em;
  color: #B0C4DE;
}

.aboutLink{
  font-family: "Book Antiqua";
  font-size: 18px;
  color: #B0C4DE;
  margin-left: 80% 
}

.aboutBox{
   margin-left: 84%;
   margin-right: .5%;
   position: absolute; 
   border-radius: 5px;
   opacity: .9;

   /* fallback */
   background-color: #1a82f7;
   background-repeat: repeat-x;

   /* Safari 4-5, Chrome 1-9 */
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

   /* Safari 5.1, Chrome 10+ */
   background: -webkit-linear-gradient(top, #2F2727, #1a82f7);

   /* Firefox 3.6+ */
   background: -moz-linear-gradient(top, #2F2727, #1a82f7);

   /* IE 10 */
   background: -ms-linear-gradient(top, #2F2727, #1a82f7);

   /* Opera 11.10+ */
   background: -o-linear-gradient(top, #2F2727, #1a82f7);

}

.aboutText{
  font-family: "Book Antiqua";
  font-size: 12px !important;

}
